
<div class="container-fluid">
    <div class="breadcome-list">
        <div class="row">
            <div class="product-payment-inner-st">
                <div id="myTabContent" class="tab-content custom-product-edit">
                <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12" style="box-shadow: 0 5px 8px 0 rgb(0 0 0 / 20%), 0 9px 26px 0 rgb(0 0 0 / 19%);   margin-top:16px;" >
                    <div class="product-status-wrap" style="position: relative;">
                        <table>
                            <tr>
                                <th>No</th>
                                <th>Image</th>
                                <th>Name of category</th>
                                <th>Sum of product</th>

                            </tr>
                            {{#each allCategory }}
                            <tr>
                                <td class="stt">{{increase @index 1}}</td>
                               <td> <img src="{{imageUrl}}" alt=""></td>
                               <td style="text-transform:capitalize; color: royalblue;">{{tittle}}</td>
                               <td>{{name}}</td>

                            {{/each}}
                            
                        </table>
                    </div>
                    
                    <div class="custom-pagination">
                        <span style="display: none;" id="quantityy">{{quantityPageProduct}}</span>
                        <ul class="pagination">
                            
                        </ul>
                    </div>
                </div>
                <div class="product-tab-list tab-pane fade active in" id="description">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="review-content-section"  style="box-shadow: 0 5px 8px 0 rgb(0 0 0 / 20%), 0 9px 26px 0 rgb(0 0 0 / 19%); padding:10px 25px;">
                            <div id="dropzone1" class="pro-ad addcoursepro">    
                                <form class="dropzone dropzone-custom needsclick addcourse" id="demo1-upload" method="post" enctype="multipart/form-data" >
                                    <div class="row" >
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h4>ADD CATEGORY</h4>
                                            <div class="form-group">
                                                <label for="username">Code</label>
                                                <input name="username" type="text" class="form-control" placeholder="User Name" required="true" value=""> 
                                                <span class="info-err-username" style="color: red;">{{message}}</span>
                                            </div>
                                                        
                                            <div class="form-group">
                                                <label for="name">Tittle</label>
                                                <input name="name" type="text" class="form-control" placeholder="Name" required="true" value="">
                                                        </div>                              

                                                         <div class="form-group"></div>
                                                                <label>Image</label>
                                                                <input type="file" name="image">
                                                                <img src="" alt="" style="width: 100px; height: auto; margin-top:20px">
                                                        </div>
                                                        <img src="" alt="" id="avatar-image" style="margin-bottom: 20px;">
                                                        <div class="col-sm-12">
                                                            <div class="preview-images"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                 <button type="submit" id="type-pass" class="btn-submit">SUBMIT</button>
                                            </form>
                                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                    </div>
                    
            </div>
        </div>
    </div>
</div>
   
