<div class="breadcome-area" >
    <div class="container-fluid">
        <div class="row" >
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list single-page-breadcome">
                    <div class="row" style="margin-bottom: 20px;" >
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <ul class="breadcome-menu" >
                                <li><a href="/product" style="color: rgb(68, 68, 228);font-size: 18px;">All Product</a> <span class="bread-slash">/</span>
                                </li>
                                <li><span class="bread-blod" style="font-size: 18px;">Detail Product</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" style="margin-top:100px;">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <img src={{product.imagesUrl.[0]}} alt="" id="main" style="display: block;width:100%;border: 1px solid #666;padding: 2px;">
                            <h3 style="margin-top: 10px;">Image sub</h3>
                            <div style="margin-top: 20px;display: flex;border: 1px solid #555;padding: 10px;flex-wrap: wrap;">
                                {{#each product.imagesUrl}}
                                <img src="{{this}}" alt="" id="sub" style="display: block;width:20%;border: 1px solid #666;padding: 2px;">
                                {{/each}}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top: 30px;">
                            <h2>{{product.name}}</h2>
                            <p style="font-size: 24px;color:red">Price Promotion: ${{product.pricePromotion}}</p>
                            <p style="font-size: 20px;text-decoration: line-through;">Price : ${{product.price}}</p>
                            {{#each product.info}}
                            <li><span style="font-weight: 550;">{{quantity}}</span> item Size <span style="font-weight: 550;">{{size}}</span></li>
                            {{/each}}
                            <h4>Description</h4>
                            <p style="padding: 5px 10px;">{{{newLine product.des}}}</p>
                            <h4>Available : {{quantityy product.info}} items</h4>
                            <h4>CreateAt :{{momentFormatL product.createdAt}}</h4>
                            <h4>Last update : {{momentFormatAgo product.updatedAt}}</h4>
                            <a href="/product/edit/{{product.slug}}"  style="padding: 10px 15px;margin-top: 30px;font-size: 24px;"><i class="bi bi-pencil-square" style="color: rgb(241, 96, 80);"></i> Edit Product</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="margin-left: 50px;">
                {{#each allComment}}
                <div style="display: flex;align-items: center;margin-bottom: 20px;">
                    <div style="margin-right: 20px;">
                        <img 
                        {{#if user}}
                        src="http://the-1-beauty-fashion.herokuapp.com{{user.avatarUrl}}"
                        {{else}}
                        src="/img/none-user.jpg"
                        {{/if}}" alt="" width="50px" height="auto">
                    </div>
                    <div style="flex: 3;">
                        <div style="display: flex;align-items: center;">
                            <div style="color: #333;margin-right: 20px;font-size: 18px;font-weight: 600;">{{user.name}}</div>
                            <div style="color: #999;">{{timeCalendar createdAt}}</div>
                        </div>
                        
                        <div>{{content}}</div>
                    </div>
                    <div style="flex: 3;cursor: pointer;color: rgb(231, 38, 38);" class="delete-btn" data-id="{{_id}}" data-content="{{content}}" data-name="{{user.name}}">
                    Delete
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div> 
<div id="bg-black-over" class="ds-none"></div>
<div class="modal-dialog ds-none" style="top: 150px;left: 55%;">
    <div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title" id="staticBackdropLabel" style="color: red;text-align: center;">Delete Comment</h3>
        <i class="bi bi-x-lg btn-close" data-bs-dismiss="modal" aria-label="Close" style="font-size: 16px;cursor: pointer;"></i>
    </div>
    <div class="modal-body" style="display: flex;">
        <div>
            <p style="color: rgb(196, 196, 196);text-align: center;">After delete, don't restore this comment</p>
            <p class="name-modal" style="font-size: 16px;font-weight:500"></p>
            <p class="content-modal" style="font-size: 16px;font-weight:500"></p>
        </div>
    </div>
    <div class="modal-footer" style="position: relative;">
        <div class="spinner ds-none">
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cancel</button>
        <button type="button" class="btn btn-danger" style="margin-right: 20px;margin-left: 10px;position: relative;">
            Delete
        </button>
    </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded',()=>{
        const mainImage=document.querySelector('#main')
        const subImage=document.querySelectorAll('#sub')
        const deleteBtn=document.querySelectorAll('.delete-btn')
        const modal=document.querySelector('.modal-dialog')
        const bgBlack=document.querySelector('#bg-black-over')
        const dangerBtn=document.querySelector('.btn-danger')
        const secondDaryBtn=document.querySelector('.btn-secondary')
        let temp;

        deleteBtn.forEach(item=>{
            item.addEventListener('click',(e)=>{
                modal.classList.remove('ds-none')
                bgBlack.classList.remove('ds-none')
                dangerBtn.dataset.id=e.target.dataset.id
                modal.querySelector('.name-modal').innerText='Name:'+e.target.dataset.name
                modal.querySelector('.content-modal').innerText='Username:'+e.target.dataset.content
                temp=e.target
            })
        })
        dangerBtn.addEventListener('click',(e)=>{
            document.querySelector('.spinner').classList.remove('ds-none')
            dangerBtn.style.opacity='0.4'
            dangerBtn.style.pointerEvents='none'
            console.log(e.target.dataset.id)
            fetch(`${window.location.origin}/product/comment/delete/${e.target.dataset.id}`)
            .then(res=>res.json())
            .then(res=>{
                console.log(res)
                dangerBtn.style.opacity='1'
                dangerBtn.style.pointerEvents='auto'
                document.querySelector('.spinner').classList.add('ds-none')
                if(res.success){
                    temp.parentElement.remove()
                    modal.classList.add('ds-none')
                    bgBlack.classList.add('ds-none')
                }
            })
        })
        document.querySelector('.btn-close').addEventListener('click',()=>{
            modal.classList.add('ds-none')
            bgBlack.classList.add('ds-none')
        })
        secondDaryBtn.addEventListener('click',()=>{
            modal.classList.add('ds-none')
            bgBlack.classList.add('ds-none')
        })
        subImage.forEach(item=>{
            item.addEventListener('click',()=>{
                mainImage.src=item.src
            })
        })

    })
</script>